<div class="container">
  <ng-progress></ng-progress>
  <h1>Goals:</h1>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <!--The form is captured here-->
      <app-goal-form (addGoal)="addNewGoal($event)"></app-goal-form>
      <hr>
      <div id="quote">
        <h5 class="text-underline">Quote Section</h5>
        <blockquote class="blockquote text-center">
          <p class="mb-0">{{quote.quote}}</p>
          <footer class="blockquote-footer" style="color:burlywood"><cite>{{quote.author}}</cite></footer>
        </blockquote>
      </div>
    </div>

    <div class="col-md-6">
      <div *ngFor='let goal of goals; let i = index' id="repetition">
        <div>
          <h4 appStrikethrough>
            <span id={{i}} class="h3">{{ goal.name }} :-</span> <span class="font-italic">due on {{goal.completeDate|date|uppercase}}</span> </h4>
          <div id="buttons">
            <button mdbBtn color="success" class="mb-4" (click)='goToUrl(goal.id)'>View Details</button>
            <button mdbBtn color="light" class="waves-effect mb-4" (click)="frame.show()" mdbWavesEffect>Delete</button>

            <div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
              aria-labelledby="myModalLabel" aria-hidden="true" style="overflow-y: auto">
              <!--Dialog-->
              <div class="modal-dialog modal-notify modal-success" role="document">
                <!--Content-->
                <div class="modal-content">
                  <!--Header-->
                  <div class="modal-header text-center">
                    <h4 class="modal-title white-text w-100 font-weight-bold py-2">
                      Confirm Deletion
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                      <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                  </div>

                  <!--Body-->
                  <div class="modal-body">
                    {{goal.name}} 
                  </div>
                  <!--/.Body-->

                  <!--Footer-->
                  <div class="modal-footer justify-content-center">
                    <button type="button" mdbBtn color="light" class="waves-effect" (click)='deleteGoal(i)' mdbWavesEffect>
                      YES
                    </button>
                  </div>
                  <!--Footer-->
                </div>
                <!--/.Content-->
              </div>
              <!--/.Dialog-->
            </div>

          </div>

        </div>

      </div>
    </div>


  </div>

  <p *ngIf='goals.length > 5'>Your goals are too many</p>
</div>
