#repetition {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  margin: 4px;
}

#repetition h4 {
  color: white;
}

.row {
  background-color: rgba(23, 0, 0, 0.4);
  padding: 10px;
  border-radius: 34px;
}

#quote p {
  color: white;
}

.btn {
  margin: 2px;
}

#buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}