<div class="container">
  <ng-progress></ng-progress>
  <h1>Goals:</h1>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div *ngFor='let goal of goals; let i = index' id="repetition">
        <div>
          <h4 appStrikethrough>
            <span class="h3">{{ goal.name }}</span> is due on {{goal.completeDate|date|uppercase}}</h4>
          <button class="btn btn-outline-success" (click)='toggleDetails(i)'>Toggle Details</button>
        </div>

        <div *ngIf='goal.showDescription'>
          <app-goal-detail (isComplete)='deleteGoal($event, i)' [goal]='goal'>
          </app-goal-detail>
        </div>

      </div>
    </div>

    <div class="col-md-6">
      <!--The form is captured here-->
      <app-goal-form (addGoal)="addNewGoal($event)"></app-goal-form>
      <div id="quote">
        <h5 class="text-underline">Quote Section</h5>
        <blockquote class="blockquote text-center">
          <p class="mb-0">{{quote.quote}}</p>
          <footer class="blockquote-footer"><cite>{{quote.author}}</cite></footer>
        </blockquote>
      </div>
    </div>
  </div>

  <p *ngIf='goals.length > 5'>Your goals are too many</p>
</div>
