.row {
    background-color: rgba(0, 0, 0, 0.3);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 50%;
    height: 140%;
    padding: 20px;
    border-radius: 5px;
}

.col-md-8{
    display: flex;
    justify-content: center;
    margin: auto;
}

